.player-card .border-radius {
  border-radius: 10px !important; /* Imposta il raggio del bordo a 10px, ma puoi regolare questo valore secondo le tue esigenze */
}

.player-card .card-img-top {
  background-color: #a52515;
  background-image: url(/public/brick.png);
}

.player-card .text-center.card-title.h5 {
  background-color: #d47f0c;
  border: 2px solid #700100;
  font-size: 3.25rem;
}

.player-card .card-body {
  --bs-card-spacer-x: 0rem;
  --bs-card-spacer-y: 0rem;
  line-height: 1.1;
}

.player-card .playerbutton {
  background-color: #910010 !important;
  border: 2px solid black !important;
  border-radius: 20px !important;
  font-size: x-large;
  color: #e09d3f !important;
}

.player-card .playerbutton:hover {
  background-color: #e09d3f !important; /* Cambia il colore al passaggio del mouse */
  color: #910010 !important; /* Cambia anche il colore del testo se necessario */
}
